### *Capstone Project for Udacity Data Engineering Nanodegree*

# Book Reviews Data Lake

___

# Project Summary

This project goals to build a **Book Reviews Data Lake** containing data on books from across the world, along with Amazon reviews about them. For this purpose, we are going to use data sources provided by [Book Depository](https://www.bookdepository.com/) and [Amazon](https://www.amazon.com/).

The project follows these steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

## Installs and imports

In [ ]:
!pip install pandas

In [1]:
import os
import configparser
import pandas as pd
import logging
from pyspark.sql import SparkSession
import pyspark.sql.types as t
import pyspark.sql.functions as f

pd.set_option('display.max_columns', 500)

## Configuration file

Open the configuration file `btl.cfg` and set your AWS credentials (`AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY`). The AWS User needs to have at least the **AmazonS3FullAccess** permission policy attached.

Then, set the INPUT parameters `AMAZON_REVIEWS` and `BOOK_DEPOSITORY` with the path from where those datasets will be loaded. 

*To ease the review of this Capstone Project, the files of the Book Depository Dataset were already downloaded from Kaggle and uploaded to a S3 Bucket, and the parameters `AMAZON_REVIEWS` and `BOOK_DEPOSITORY` are already set to the paths of the S3 buckets containing the datasets.*

At last, set the `OUTPUT_DATA` parameter with the path where the Data Lake will be hosted.

```bash
[AWS]
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

[INPUT]
AMAZON_REVIEWS=
BOOK_DEPOSITORY=

[OUTPUT]
DATA_LAKE_PATH=
```

Reading the configuration file `bdl.cfg`:

In [2]:
config = configparser.ConfigParser()
config.read('bdl.cfg')

os.environ['AWS_ACCESS_KEY_ID'] = config['AWS']['AWS_ACCESS_KEY_ID']
os.environ['AWS_SECRET_ACCESS_KEY'] = config['AWS']['AWS_SECRET_ACCESS_KEY']

amazon_path = config['INPUT']['AMAZON_REVIEWS'] 
book_depository_path = config['INPUT']['BOOK_DEPOSITORY']
    
data_lake_path = config['OUTPUT']['DATA_LAKE_PATH']

## SparkSession

Creating the SparkSession:

In [3]:
spark = SparkSession \
    .builder \
    .appName("Books Data Lake") \
    .config("fs.s3a.awsAccessKeyId", os.environ['AWS_ACCESS_KEY_ID'])\
    .config("fs.s3a.awsSecretAccessKey", os.environ['AWS_SECRET_ACCESS_KEY'])\
    .config("spark.sql.csv.parser.columnPruning.enabled", False) \
    .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.1") \
    .getOrCreate()

# Step 1: Scope the Project and Gather Data

## 1.1 Scope

[Book Depository](https://www.bookdepository.com/) is a leading international book retailer that has a wide book catalog and delivers worldwide. We are going to use a dataset of books metadata scraped from their site and made available on [Kaggle](https://www.kaggle.com/datasets). 

[Amazon](https://www.amazon.com/) has 20 years of online bookselling experience. Having always maintained high emphasis on customer satisfaction, the reliability of its Customer Reviews is one of the main strengths of the company. The [Amazon Customer Reviews Dataset](https://registry.opendata.aws/amazon-reviews/) is maintained by Amazon itself, and contains product reviews in multiple languages and product categories, including books. However, it focus exclusively on the reviews, and does not contain specific books metadata, like authors, edition and others. 

This project joins both datasets through the books International Standard Book Number (ISBN) producing a **Book Reviews Data Lake** hosted on S3, aimed to provide data for analytical purposes. We are going to use [Spark](https://spark.apache.org/) to build a data pipeline that consumes raw books metadata and Amazon product reviews from S3 buckets, processes the data into analytics tables using Spark in an EMR cluster, and writes those tables as parquet files into the S3 bucket that will host our data lake.

![Architecture Diagram](images/architecture.png)

## 1.2 Use Cases

Some intended use cases for this Data Lake:
* Sentiment analysis on book reviews;
* Understanding how people rate usefulness of a review of a book, and what factors influence helpfulness of a review;
* Feeding data for a book recommender system.

## 1.3 Data Sources

### *1.3.1. Book Depository Dataset*

This dataset is a large collection of books metadata, like title, description, authors, category and others. It was scraped from [Book Depository](https://www.bookdepository.com/), a leading international book retailer. 
 
 The following list describes each file in the dataset:
* `authors.csv` (**703,666 rows**): author names, matching the `authors` column from `dataset.csv`; a single book in the dataset may have more than one author.
* `categories.csv` (**2,767 rows**): category names, matching the `categories` column from `dataset.csv`; a single book in the dataset may have more than one category.
* `formats.csv` (**59 rows**): format names, matching the `format` column from `dataset.csv`.
* `places.csv` (**7,410 rows**): publication places (city and country), matching the `publication-place` column from `dataset.csv`.
* `dataset.csv` (**1,153,986 rows**): the actual dataset containing the catalog of books.

Source: https://www.kaggle.com/sp1thas/book-depository-dataset


### *1.3.2. Amazon Customer Reviews Dataset*

This dataset is managed by [Amazon](https://www.amazon.com/) and contains over 130+ million customer reviews written from 1995 until 2015. For this project, we are interested only in the reviews for products of the category "Books". 

This dataset is available in two file formats: TSV (tab separated value) and Parquet. Since Parquet is more efficient and is already partitioned by `product_category`, which makes it more convenient to use since we will be reading data specific to the "Books" category, we will be using only the Parquet files where `product_category = Books` fot this project. 

Number of rows in the category "Books" of this dataset: **20,726,160**

Source: https://registry.opendata.aws/amazon-reviews/

## 1.4. Reading the Data

In [4]:
authors_staging_df = spark.read.csv("{}/authors.csv".format(book_depository_path),
                                    quote='\"',
                                    escape='\"',
                                    sep=",",
                                    header=True, 
                                    inferSchema= True,
                                    multiLine=True)

In [10]:
categories_staging_df = spark.read.csv("{}/categories.csv".format(book_depository_path),
                                       quote='\"',
                                       escape='\"',
                                       sep=",",
                                       header=True, 
                                       inferSchema= True,
                                       multiLine=True)

In [16]:
formats_staging_df = spark.read.csv("{}/formats.csv".format(book_depository_path),
                                    quote='\"',
                                    escape='\"',
                                    sep=",",
                                    header=True, 
                                    inferSchema= True,
                                    multiLine=True)

In [22]:
places_staging_df = spark.read.csv("{}/places.csv".format(book_depository_path),
                                   quote='\"',
                                   escape='\"',
                                   sep=",",
                                   header=True, 
                                   inferSchema= True,
                                   multiLine=True)

In [28]:
books_staging_df = spark.read.csv("{}/dataset.csv".format(book_depository_path),
                                  quote='\"',
                                  escape='\"',
                                  sep=",",
                                  header=True, 
                                  inferSchema= True,
                                  multiLine=True)

In [34]:
amazon_staging_df = spark.read.parquet(amazon_path)

# Step 2: Explore and Assess the Data

In this step, we are going to explore the Spark DataFrames created in the previous section, in order to identify data quality issues and document steps necessary to clean the data.

### *2.1. Authors*

In [5]:
authors_staging_df.printSchema()

root
 |-- author_id: integer (nullable = true)
 |-- author_name: string (nullable = true)

In [6]:
authors_staging_df.limit(50).toPandas().head(50)

    author_id                                        author_name
0        4872                                               None
1      374796                               !Mediengruppe Bitnik
2      295624                                           !ralupop
3      172310                                      # House Press
4       59149                               #1 Blank Comic Books
5      100888                                            #Value!
6      287590                                  #Worldlcass Media
7      552132                               #emergingproud Press
8      679802                              #shakeback Publishing
9       28924                                      #vettech Life
10     131732                                      & Bacon Allyn
11     668658                             & Berry Roskin & Berry
12     525351                & Beth Donelson Tom & Beth Donelson
13     457543                        & Bonchek Shepsle & Bonchek
14     490634                                    & Bradley Stone
15     668672                & Christensen Gerston & Christensen
16     668676  & Cook & Richardson-Gibbs Klein & Cook & Richa...
17     456132                             & Eagan Scarre & Eagan
18     668675                              & Feist Feist & Feist
19     700273                                        & Fun Books
20     588170                                    & Gamble Gamble
21     456983                         & Ginsberg Lowi & Ginsberg
22     668671                                 & Hess Harr & Hess
23     668673                     & Hoefler Fritschler & Hoefler
24     669342  & Holton III & Swanson Knowles & Holton III & ...
25     351786                                  & James Robertson
26     661268              & Kevin Lumsden David & Kevin Lumsden
27     188956                                     & Lange Carter
28     205360            & Leading Experts from Around the World
29     667954                        & Lepgold Lamborn & Lepgold
30      38539                            & Other Leading Experts
31     668680                            & Page Greenberg & Page
32     692964                        & Rrt Exam Secrets Test Crt
33     457545                             & Smith Baylis & Smith
34     216666                             & Southerdon Havenhand
35     586680                                & Stewart Smallwood
36     625318                      & Stigliani Spiro & Stigliani
37     668637  & Strasser & Rosenzweig Lichtenstein & Strasse...
38     456130                & Strickland Despelder & Strickland
39     456554                                 & Swim Herr & Swim
40     409709                                    & Urruty Zagier
41     328857                               & Wine Magazine Food
42     152255                                       & Zullo Nash
43     572855                                            &BEYOND
44     686870                                      &zoo Journals
45     696431                                         &zoo Press
46     423096                            'Abd Al-Qadir Al-Jilani
47     438588                           'Abd Al-Rahman Al-Jaziri
48     419073                      'Abd Allah B 'Umar Al-Baydawi
49     436192                          'Abd ar-Rahman Al-Akhdari

In [7]:
authors_staging_df.describe("author_id", "author_name").show()

+-------+-----------------+--------------------+
|summary|        author_id|         author_name|
+-------+-----------------+--------------------+
|  count|           703666|              703665|
|   mean|         351833.5|   8.151614933835E11|
| stddev|203131.0215973056|2.823802163249373E12|
|    min|                1|!Mediengruppe Bitnik|
|    max|           703666|              張洪聲|
+-------+-----------------+--------------------+

Checking the number of authors in the dataset:

In [8]:
authors_staging_df.count()

703666

Checking the number of authors in the dataset *removing duplicates*:

In [9]:
authors_staging_df.dropDuplicates().count()

703666

**Assessment:**

From the above assessment, we can see that the `author_id` column is clean, all values are numeric. 

Some `author_name` begin with non readable characters, but since it is not possible to identify which ones are valid authors an which are not, we are going to load them as they are, removing only the null values.

We can see also that there are no duplicated rows in the file.

### *2.2. Categories*

In [11]:
categories_staging_df.printSchema()

root
 |-- category_id: integer (nullable = true)
 |-- category_name: string (nullable = true)

In [12]:
categories_staging_df.limit(20).toPandas().head(20)

    category_id                                category_name
0          1998                             .Net Programming
1           176  20th Century & Contemporary Classical Music
2          3291  20th Century & Contemporary Classical Music
3          2659      20th Century History: C 1900  To C 2000
4          2661          21st Century History: From C 2000 -
5          1992               2D Graphics: Games Programming
6          1943                      3D Graphics & Modelling
7          1993               3D Graphics: Games Programming
8          2472                                          ABC
9           768                          Abnormal Psychology
10         2023                                       Access
11         1379                Accident & Emergency Medicine
12         1422                 Accident & Emergency Nursing
13          957                                   Accounting
14         1932                          Accounting Software
15          963          Accounting: Study & Revision Guides
16         1856                 Acoustic & Sound Engineering
17          391        Acquisitions & Collection Development
18          127                            Acting Techniques
19         3091                      Active Outdoor Pursuits

In [13]:
categories_staging_df.describe("category_id", "category_name").show()

+-------+------------------+----------------+
|summary|       category_id|   category_name|
+-------+------------------+----------------+
|  count|              2767|            2767|
|   mean|1709.2696060715577|            null|
| stddev|1004.8571823557746|            null|
|    min|                 2|.Net Programming|
|    max|              3390|  Zoroastrianism|
+-------+------------------+----------------+

Checking the number of book categories in the dataset:

In [14]:
categories_staging_df.count()

2767

Checking the number of book categories in the dataset *removing duplicates*:

In [15]:
categories_staging_df.dropDuplicates().count()

2767

**Assessment:**

The categories data looks clean. We are going to load them as they are. We can see also that there are no duplicated rows in the file.

### *2.3. Formats*

In [17]:
formats_staging_df.printSchema()

root
 |-- format_id: integer (nullable = true)
 |-- format_name: string (nullable = true)

In [18]:
formats_staging_df.limit(20).toPandas().head(20)

    format_id   format_name
0          17       Address
1          12         Audio
2          50          Bath
3          53       Betamax
4          51           Big
5          26         Board
6          13          Book
7          41         Boxed
8           7            CD
9           4      Calendar
10         10         Cards
11         36   Copymasters
12         33   Counterpack
13         44           DAT
14         28           DVD
15         11         Diary
16         37       Digital
17         45      Diskette
18          9  Downloadable
19         48       Dumpbin

In [19]:
formats_staging_df.describe("format_id", "format_name").show()

+-------+------------------+-----------+
|summary|         format_id|format_name|
+-------+------------------+-----------+
|  count|                59|         59|
|   mean|              30.0|       null|
| stddev|17.175564037317667|       null|
|    min|                 1|    Address|
|    max|                59|  Wallchart|
+-------+------------------+-----------+

Checking the number of book formats in the dataset:

In [20]:
formats_staging_df.count()

59

Checking the number of book formats in the dataset *removing duplicates*:

In [21]:
formats_staging_df.dropDuplicates().count()

59

**Assessment:**

The formats data also looks clean, and will be loaded without changes. We can see also that there are no duplicated rows in the file.

### *2.4. Publication Places*

In [23]:
places_staging_df.printSchema()

root
 |-- place_id: integer (nullable = true)
 |-- place_name: string (nullable = true)

In [24]:
places_staging_df.limit(50).toPandas().head(50)

    place_id                                    place_name
0       5996  (56 Bourne Way, Hayes, Kent), United Kingdom
1        619                             ), United Kingdom
2       4307                              0, United States
3       3488                            189, United States
4       7326                                           192
5       4601                            204, United States
6       4602                            205, United States
7       5234                                           206
8       4600                            206, United States
9       5233                            216, United States
10       849                            237, United States
11      6269                            241, United States
12      4555                                           258
13      2213                           75004 Paris, France
14      4936                           75191 Paris, France
15      3492                               A Coruna, Spain
16      5262                       A Coruna, United States
17      6579                                    AB, Canada
18      4055                             AL, United States
19      6767                    APSE HEATH, United Kingdom
20       193                             AR, United States
21      4743                      ARDLEIGH, United Kingdom
22      2083                               AX, Netherlands
23      1645                             AZ, United States
24       914                               Aachen, Germany
25      5480                            Aarau, Switzerland
26       109                               Aarhus, Denmark
27      3040                      Abberton, United Kingdom
28      2244                      Abbeville, United States
29      6635                Abbots Langley, United Kingdom
30      3567                     Abbotsford, United States
31      4677                    Abbotsford, VIC, Australia
32      2290                   Aberdeen, NJ, United States
33       665                      Aberdeen, United Kingdom
34      5024                 Aberdeenshire, United Kingdom
35      5332                     Aberfeldy, United Kingdom
36      3473                      Abergale, United Kingdom
37      4777                   Abergavenny, United Kingdom
38      3637                      Abergele, United Kingdom
39      6475                  Aberglasslyn, NSW, Australia
40      1929                     Aberporth, United Kingdom
41      1971                   Abertillery, United Kingdom
42      1860                   Aberystwyth, United Kingdom
43      2091                                   Abilene, TX
44      3504                    Abilene, TX, United States
45      2679                        Abilene, United States
46       186                      Abingdon, United Kingdom
47      2300                      Abington, United Kingdom
48      2729                       Abington, United States
49      6782                        Aboyne, United Kingdom

In [25]:
places_staging_df.describe("place_id", "place_name").show()

+-------+------------------+--------------------+
|summary|          place_id|          place_name|
+-------+------------------+--------------------+
|  count|              7410|                7410|
|   mean|            3705.5|  218.66666666666666|
| stddev|2139.2270800455003|    34.7754702819866|
|    min|                 1|(56 Bourne Way, H...|
|    max|              7410|Москва, United St...|
+-------+------------------+--------------------+

Checking the number of publication places in the dataset:

In [26]:
places_staging_df.count()

7410

Checking the number of publication places in the dataset *removing duplicates*:

In [27]:
places_staging_df.dropDuplicates().count()

7410

**Assessment:**

The `place_name` column has some issues, like numeric characters at the begining of the string. To clean it, we will make some replacements during the ETL.

We can see that there are no duplicated rows in the file.

### *2.5. Books*

In [29]:
books_staging_df.printSchema()

root
 |-- authors: string (nullable = true)
 |-- bestsellers-rank: string (nullable = true)
 |-- categories: string (nullable = true)
 |-- description: string (nullable = true)
 |-- dimension-x: double (nullable = true)
 |-- dimension-y: double (nullable = true)
 |-- dimension-z: double (nullable = true)
 |-- edition: string (nullable = true)
 |-- edition-statement: string (nullable = true)
 |-- for-ages: string (nullable = true)
 |-- format: string (nullable = true)
 |-- id: long (nullable = true)
 |-- illustrations-note: string (nullable = true)
 |-- imprint: string (nullable = true)
 |-- index-date: timestamp (nullable = true)
 |-- isbn10: string (nullable = true)
 |-- isbn13: long (nullable = true)
 |-- lang: string (nullable = true)
 |-- publication-date: timestamp (nullable = true)
 |-- publication-place: integer (nullable = true)
 |-- rating-avg: double (nullable = true)
 |-- rating-count: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- url: string (nullable = true)
 |-- weight: double (nullable = true)

In [30]:
books_staging_df.limit(50).toPandas().head(50)

,authors,bestsellers-rank,categories,description,dimension-x,dimension-y,dimension-z,edition,edition-statement,for-ages,format,id,illustrations-note,imprint,index-date,isbn10,isbn13,lang,publication-date,publication-place,rating-avg,rating-count,title,url,weight
0,"[1, 2]",2896,"[235, 3386, 736, 763]",________________________________,129.00,198.00,23.00,None,None,None,1,9781787465145,None,ARROW BOOKS LTD,2020-01-15 10:00:55,1787465144,9.781787e+12,en,2019-10-17,1.0,4.04,3784.0,Journey Into Darkness,/Journey-Into-Darkness-John-Douglas/9781787465145,266.00
1,[3],51517,"[360, 2632]",A fake marriage is the last thing he wants . ....,108.00,178.00,13.00,None,None,None,1,9781946510402,None,None,2020-01-15 10:01:06,1946510408,9.781947e+12,en,2019-09-17,NaN,4.49,211.0,The Mercenary : Order of the Broken Blade,/Mercenary-Cecelia-Mecca/9781946510402,182.00
2,[4],162985,"[1703, 2771, 2818, 3097]","Once the dust has settled, you'll need to know...",127.00,178.00,17.78,None,None,None,1,9781612124568,None,None,2020-01-15 10:01:15,1612124569,9.781612e+12,en,2015-05-05,2.0,2.96,139.0,100 Skills You'll Need for the End of the Worl...,/100-Skills-Youll-Need-for-End-World-We-Know-I...,226.80
3,[5],41520,"[819, 3364, 1853, 2977]",The Daily Mail and the Spectator Book of the Y...,140.00,201.00,14.00,None,None,None,2,9781786487155,None,None,2020-01-15 10:01:26,1786487152,9.781786e+12,en,2017-09-21,1.0,4.21,158.0,How to Land a Plane,/How-Land-Plane-Mark-Vanhoenacker/9781786487155,206.00
4,[6],3885,"[1694, 1703, 2818]","Easy, do-able, down to earth ideas and suggest...",153.00,234.00,35.00,None,None,None,1,9781472969125,None,Green Tree,2020-01-15 10:01:36,147296912X,9.781473e+12,en,2020-03-10,1.0,NaN,NaN,The Sustainable(ish) Living Guide : Everything...,/Sustainable-ish-Living-Guide-Jen-Gale/9781472...,458.00
5,[7],75224,"[1843, 2967, 2969]",Mini celebrates 60 amazing years of this iconi...,216.00,254.00,25.40,None,None,None,2,9780760363997,200 color & b-w photos,None,2020-01-15 10:01:48,760363994,9.780760e+12,en,2019-05-09,3.0,4.75,4.0,Mini : 60 Years,/Mini-Giles-Chapman/9780760363997,975.22
6,"[8, 9]",368836,"[1520, 2771, 3019, 3074, 3078]","Dynamics, motion, and sensation are karate's c...",153.00,229.00,15.00,None,None,None,1,9781594394591,black & white illustrations,None,2020-01-15 10:01:57,1594394598,9.781594e+12,en,2017-05-01,4.0,4.48,27.0,Karate Science : Dynamic Movement,/Karate-Science-J-D-Swanson/9781594394591,408.00
7,[10],"108,369","[1853, 2977, 3023]",Brian Cosgrove's classic introduction to the w...,189.00,246.00,10.16,Revised,8th edition,None,1,9781847975096,Colour illustrations,None,2020-01-15 10:02:08,1847975097,9.781848e+12,en,2013-11-01,5.0,4.38,26.0,Microlight Pilot's Handbook,/Microlight-Pilots-Handbook-Brian-Cosgrove/978...,453.59
8,"[11, 12]",49553,"[649, 2771, 3019, 3074]",BECAUSE NOT ALL KRAV MAGA IS THE SAME(R) This ...,184.00,238.00,22.86,None,None,None,1,9781594396816,"727 Halftones, black and white",None,2020-01-15 10:02:19,1594396817,9.781594e+12,en,2019-08-07,4.0,4.00,1.0,Krav Maga Combatives : Maximum Effect,/Krav-Maga-Combatives-David-Kahn/9781594396816,703.07
9,"[13, 14]","128,070","[1725, 1844, 2969, 2973]","Haynes offers the best coverage for cars, truc...",212.00,272.00,18.00,Revised,3rd Revised edition,None,1,9781563924699,black & white illustrations,HAYNES MANUALS INC,2020-01-15 10:02:29,9781563924699,NaN,en,2002-12-02,6.0,3.92,13.0,"Dodge Caravan, Plymouth Voyager & Chrysler Tow...",/Dodge-Caravan-Plymouth-Voyager-Chrysler-Town-...,497.00
10,"[15, 16]","148,229","[1711, 1843, 2969]",This comprehensive new edition of How to Desig...,210.00,270.00,14.22,New edition,New,None,1,9780760336953,300 colour illustrations,None,2020-01-15 10:02:49,760336954,9.780760e+12,en,2010-11-06,3.0,4.15,46.0,How to Design Cars Like a Pro,/How-Design-Cars-Like-Pro-Tony-Lewin/978076033...,810.00
11,[17],454813,"[1379, 1701, 1703, 1738, 2818, 2884, 3097]",Are you and your family self-reliant? Will you...,152.00,229.00,20.00,None,None,None,1,9781632206343,Color photos throughout,None,2020-01-15 10:02:58,163220634X,9.781632e+12,en,2015-08-04,7.0,4.75,4.0,52 Unique Techniques for Stocking Food for Pre...,/52-Unique-Techniques-for-Stocking-Food-for-Pr...,655.00
12,[18],171512,"[1844, 2969, 3058]",Known around the globe as an icon of British e...,170.00,230.00,20.32,None,None,None,2,9781781316283,177 colour photographs,None,2020-01-15 10:03:09,1781316287,9.781781e+12,en,2016-10-01,1.0,4.00,1.0,Land Rover Defender,/Land-Rover-Defender-Mike-Gould/9781781316283,680.39
13,[19],493920,"[1691, 1694, 1703, 2818]",Ingenuity has met its match and his name is Cy...,130.00,179.00,12.00,None,Original ed.,None,1,9780740779336,"Illustrations, unspecified",None,2020-01-15 10:03:19,740779338,9.780741e+12,en,2009-03-17,NaN,2.34,26.0,Sneaky Green Uses for Everyday Things : How to...,/Sneaky-Green-Uses-for-Everyday-Things-Cy-Tymo...,154.00
14,[20],"69,927","[1725, 1844, 2969, 2971, 2973]",Haynes disassembles every subject vehicle and ...,210.00,270.00,7.00,None,M125,None,1,9780856961250,illustrations & photographs,J H Haynes & Co Ltd,2020-01-15 10:03:30,856961256,9.780857e+12,en,1990-06-29,6.0,NaN,NaN,Norton Commando (68 - 77),/Norton-Commando-68-77-Haynes-Publishing/97808...,352.00
15,[21],536410,"[2818, 2968, 3063]",Peter Walker--reporter at the Guardian and cur...,137.00,206.00,20.00,None,None,None,1,9780143111771,None,None,2020-01-15 10:03:39,143111779,9.780143e+12,en,2017-04-04,NaN,4.21,356.0,How Cycling Can Save the World,/How-Cycling-Can-Save-World-Peter-Walker/97801...,227.00
16,[22],204467,"[1849, 2975, 3069]","Learn the Ins and Outs of Building Lapstrake, ...",226.00,285.00,22.00,None,ed,None,2,9780071464055,"175 Illustrations, unspecified",None,2020-01-15 10:03:50,71464050,9.780071e+12,en,2007-01-05,8.0,4.45,22.0,The Boatbuilder's Apprentice,/Boatbuilders-Apprentice-Greg-Rossel/978007146...,1102.00
17,[23],583236,"[2813, 2818, 2820, 2987, 3091, 3092, 3100]",** SHORTLISTED FOR THE WAINWRIGHT PRIZE**,160.00,236.00,30.00,None,None,None,2,9781912023646,None,Aster,2020-01-15 10:04:00,1912023644,9.781912e+12,en,2018-11-13,1.0,3.96,274.0,Thinking on My Feet : The small joy of putting...,/Thinking-on-My-Feet-Kate-Humble/9781912023646,600.00
18,[24],"223,872","[1843, 2802, 2969, 2973]",This completely revised and updated edition of...,216.00,273.00,10.67,Revised,2nd ed.,None,1,9781557885586,None,"H.P.Books,U.S.",2020-01-15 10:04:11,1557885583,9.781558e+12,en,2010-10-05,9.0,4.00,2.0,Ford Windsor Small-block Performance,/Ford-Windsor-Small-block-Performance-Isaac-Ma...,535.00
19,[25],1091127,"[2771, 3097]",Learn. Practice. Prepare. Survive.,152.00,228.00,22.86,None,None,None,1,9781440247286,None,Living Ready,2020-01-15 10:04:21,1440247285,9.781440e+12,en,2018-08-27,10.0,3.31,16.0,365 Essential Survival Skills : Knowledge that...,/365-Essential-Survival-Skills-Creek-Stewart/9...,385.55
20,[26],201409,"[1719, 1843, 2969]","In 1959, the first Mini was produced on an ass...",130.00,200.00,20.00,None,Main,None,1,9780571248117,Illustrations (some col.),None,2020-01-15 10:04:31,057124811X,9.780571e+12,en,2010-07-01,1.0,3.94,17.0,MINI: The True and Secret History of the Makin...,/MINI-True-Secret-History-Making-Motor-Car-Sim...,253.00
21,[27],33498,"[1703, 2818]",This book is a very basic guide to get you sta...,216.00,279.00,2.00,None,None,None,1,9781977954749,"Illustrations, color",None,2020-01-15 10:04:40,197795474X,9.781978e+12,en,2017-10-03,NaN,NaN,NaN,You............Raise Chickens? : A How to Guid...,/You-Raise-Chickens-Justin-S-Willamson/9781977...,118.00
22,[28],299341,"[1850, 3071, 3385]","A modern sailor's logbook, designed to last a ...",210.00,297.00,8.38,None,Revised ed.,None,1,9781898660354,None,Fernhurst Books,2020-01-15 10:04:51,1898660352,9.781899e+12,en,1997-07-14,11.0,5.00,1.0,Logbook for Cruising Under Sail,/Logbook-for-Cruising-Under-Sail-John-Mellor/9...,380.00
23,[29],1257939,"[2771, 3019, 3074, 3076]",A fast and powerful style that excels in throw...,216.00,279.00,20.32,None,None,None,1,9781594396557,"1228 Halftones, black and white",None,2020-01-15 10:05:00,1594396558,9.781594e+12,en,2019-11-07,4.0,NaN,NaN,"The Sambo Encyclopedia : Comprehensive Throws,...",/Sambo-Encyclopedia-Steve-Scott/9781594396557,1043.26
24,[20],"258,448","[376, 1725, 1844, 2971, 2973]","""Haynes disassembles every subject vehicle and...",215.00,274.00,10.00,Revised,Revised edition,None,1,9780856965210,illustrations & photographs,J H Haynes & Co Ltd,2020-01-15 10:05:11,9780856965210,NaN,en,1993-06-29,6.0,3.25,4.0,Honda CB750 Sohc Four (69 - 79),/Honda-CB750-Sohc-Four-69-79-Haynes-Publishing...,267.00
25,[30],1465502,"[376, 378, 888, 2771]","In Staying Safe, Juval Aviv, a counterterroris...",154.94,229.62,19.81,None,None,None,1,9780060735203,None,None,2020-01-15 10:05:21,60735201,9.780061e+12,en,2004-07-20,7.0,3.73,15.0,Staying Safe : The Complete Guide to Protectin...,/Staying-Safe-Juval-Aviv/9780060735203,385.55
26,[31],71921,"[1848, 3069]",None,240.00,256.00,26.00,None,None,None,2,9780957311916,"400 colour illustrations, diagrams & plans",None,2020-01-15 10:05:32,957311915,9.780957e+12,en,2012-10-26,12.0,4.80,5.0,Working Sail : A Life in Wooden Boats,/Working-Sail-Luke-Powell/9780957311916,1526.00
27,"[32, 33]",1343111,"[2770, 2771, 2772]",Arsenic. Mercury. Pesticides. Dioxin. Toxic ga...,154.00,228.00,26.00,None,None,None,1,9780425211946,"Illustrations, unspecified",None,2020-01-15 10:05:41,425211940,9.780425e+12,en,2006-12-05,7.0,3.66,15.0,"What's Toxic, What's Not : Everything You Need...",/Whats-Toxic-Whats-Not-Gary-Ginsberg/978042521...,395.00
28,"[34, 35]",79024,"[1755, 1759, 1762, 1849, 2975]",This book explores the many engineering and ar...,152.00,229.00,23.00,None,None,None,1,9780521559263,"60 Line drawings, unspecified",None,2020-01-15 10:05:52,052155926X,9.780522e+12,en,1995-10-27,13.0,4.22,18.0,Concepts in Submarine Design,/Concepts-Submarine-Design-Roy-Burcher/9780521...,480.00
29,[36],1964763,"[840, 862, 1289, 1298, 1303, 2771, 2772]",Why should you need the government's permissio...,132.08,198.12,25.40,None,None,None,1,9780062407535,None,HarperCollins,2020-01-15 10:06:01,62407538,9.780062e+12,en,2017-12-12,9.0,5.00,1.0,The Right to Try,/Right-Try-Darcy-Olsen/9780062407535,226.80
30,[37],322144,[1844],Written in line with the revised specification...,216.00,274.00,17.00,None,None,None,1,9780435048150,None,Heinemann,2020-01-15 10:06:10,435048155,9.780435e+12,en,2011-10-11,14.0,4.50,6.0,Level 1 Principles of Light Vehicle Operations...,/Level-1-Principles-Light-Vehicle-Operations-C...,968.00
31,"[38, 39]","2,122,899","[376, 378, 2771, 3097]","Whether in a temperate, tropical, arctic, or s...",139.00,210.00,23.00,Revised,"Revised, Updated",None,1,9781493023769,"25 Tables, unspecified; 10 Halftones, color; 5...",The Lyons Press,2020-01-15 10:06:20,9781493023769,NaN,en,2017-04-01,15.0,4.00,1.0,The Official U.S. Army Survival Handbook,/Official-U-S-Army-Survival-Handbook-Departmen...,29.00
32,[40],364771,"[1850, 2975, 3069, 3071]",Following on from his bestselling The Complete...,171.00,246.00,22.86,None,None,None,2,9781472918130,Colour photography and diagrams throughout,Adlard Coles Nautical,2020-01-15 10:06:32,1472918134,9.781473e+12,en,2016-04-05,1.0,4.80,5.0,The Complete Ocean Skipper : Deep-water Voyagi...,/Complete-Ocean-Skipper-Tom-Cunliffe/978147291...,936.00
33,[41],1879742,"[2771, 3019, 3020, 3074]","Winning Fights focuses on 2,500 years of prove...",152.00,228.00,15.24,None,None,None,1,9781594396007,None,None,2020-01-15 10:06:42,1594396000,9.781594e+12,en,2018-06-01,4.0,4.66,3.0,Winning Fights : 12 Proven Principles for Winn...,/Winning-Fights-Phillip-M-Stephens/9781594396007,408.23
34,"[42, 43]","91,936","[1725, 1755, 1848, 1867, 2975]","Ship Construction, Seventh Edition, offers gui...",152.00,229.00,17.27,None,7th edition,None,1,9780080972398,"black & white illustrations, black & white tab...",Butterworth-Heinemann Ltd,2020-01-15 10:06:53,008097239X,9.780081e+12,en,2012-07-10,16.0,4.75,4.0,Ship Construction,/Ship-Construction-George-Bruce/9780080972398,630.00
35,[44],86798,"[2659, 2663, 2858, 2859, 2868, 2878, 2978, 2915]","Spaghetti in aspic, anyone? Revel in astonishi...",160.00,185.00,15.00,None,UK ed.,None,2,9781910931387,None,SQUARE PEG,2020-01-15 10:06:59,1910931381,9.781911e+12,en,2018-04-01,1.0,3.73,19.0,"70s Dinner Party : The Good, the Bad and the D...",/70s-Dinner-Party-Anna-Pallai/9781910931387,393.00
36,[45],1893170,"[214, 231, 233, 2777, 2782, 2804, 2813, 2818, ...",Escape Your Invisible Prison. If you're readin...,152.00,229.00,8.89,None,None,None,1,9781784521554,None,None,2020-01-15 10:07:04,1784521558,9.781785e+12,en,2018-11-27,17.0,NaN,NaN,Confidence for Life : 9 Secrets for Setting Yo...,/Confidence-for-Life-Susan-Armstrong/978178452...,227.00
37,[46],82795,"[1477, 1850, 3071]","A handy, splash-proof, on-the-water reference ...",80.00,222.00,5.08,None,None,None,3,9780470518793,"18 Diagrams; 5 Halftones, color",John Wiley & Sons Inc,2020-01-15 10:07:15,470518790,9.780471e+12,en,2008-03-07,18.0,NaN,NaN,Nautical Calculation Companion,/Nautical-Calculation-Companion-Alastair-Bucha...,54.00
38,[47],28176,"[2797, 2800, 2801, 2915]",If you've ever cringed at the sight of your te...,132.00,204.00,20.00,None,None,None,1,9780307888259,None,Three Rivers Press,2020-01-15 10:07:19,307888258,9.780308e+12,en,2011-11-15,9.0,3.75,185.0,365 Manners Kids Should Know,/365-Manners-Kids-Should-Know-Sheryl-Eberly/97...,262.00
39,"[48, 49]",2177559,"[1703, 2818]",This special re-print edition of Charles Baile...,216.00,280.00,6.00,None,None,None,1,9781530784530,None,None,2020-01-15 10:07:23,1530784530,9.781531e+12,en,2016-03-28,NaN,NaN,NaN,Practical Angora Goat Raising : Raising Goats ...,/Practical-Angora-Goat-Raising-C-P-Bailey/9781...,268.00
40,[50],"306,379","[1843, 2969, 3058]","The first and only ""virtual gallery"" with all ...",160.00,210.00,25.40,"Enlarged, New edition",3rd ed.,None,2,9788879117333,Hundreds in colour,None,2020-01-15 10:07:33,8879117335,9.788879e+12,en,2019-07-02,19.0,NaN,NaN,Ferrari: All The Cars : New enlarged Edition,/Ferrari-All-Cars-Leonardo-Acerbi/9788879117333,1020.58
41,[51],"80,718","[814, 3359, 1223]",An updated edition of this well-established te...,155.00,235.00,27.00,Revised,4th Revised edition,None,1,9780717149773,None,Gill Education,2020-01-15 10:07:39,717149773,9.780717e+12,en,2011-08-26,20.0,NaN,NaN,An Introduction to Irish Family Law,/Introduction-Irish-Family-Law-Jim-Nestor/9780...,756.00
42,[52],2157077,"[649, 2771, 3097]",The Boston Marathon; Sandy Hook Elementary Sch...,152.00,228.00,17.78,None,None,None,1,9781438004082,None,"Barron's Educational Series Inc.,U.S.",2020-01-15 10:07:43,1438004087,9.781438e+12,en,2014-05-15,10.0,3.55,9.0,Staying Alive : How to Act Fast and Survive De...,/Staying-Alive-Safe-Havens-International/97814...,408.00
43,[53],408788,"[1784, 1843, 2969, 2973]",This indispensable guide to high performance a...,216.00,275.00,10.16,None,None,None,1,9781557885456,None,"H.P.Books,U.S.",2020-01-15 10:07:54,1557885451,9.781558e+12,en,2009-04-07,9.0,5.00,1.0,Custom Auto Wiring & Electrical,/Custom-Auto-Wiring-Electrical-Matt-Strong/978...,542.00
44,[54],None,"[1291, 1298, 2771, 2772]",This is the fourth of sequential collections o...,180.00,260.00,19.05,None,UK ed.,None,2,9781608761784,tables & charts,None,2020-01-15 10:08:04,1608761789,9.781609e+12,en,2010-05-21,9.0,NaN,NaN,Health Issues in Chinese Contexts : Volume 4,/Health-Issues-Chinese-Contexts-Zenobia-C-y-Ch...,522.00
45,[20],"421,308","[1844, 2971, 2973]","""Haynes disassembles every subject vehicle and...",210.00,270.00,9.00,None,M339,None,1,9780856963391,illustrations & photographs,J H Haynes & Co Ltd,2020-01-15 10:08:15,856963399,9.780857e+12,en,1995-06-29,6.0,4.25,4.0,"Moto Guzzi 750, 850 & 1000 V-Twins (74 - 78)",/Moto-Guzzi-750-850-1000-V-Twins-74-78-Haynes-...,390.00
46,[55],214900,[1159],None,155.00,234.00,25.00,Revised,2nd Revised edition,None,1,9781910374337,None,None,2020-01-15 10:08:20,1910374334,9.781910e+12,None,2015-11-06,20.0,NaN,NaN,An Introduction to Business Law,/Introduction-Business-Law-Vaeni-Mac-Donnell/9...,740.00
47,[56],2698437,"[2771, 2521, 2543, 2577]",Readers will learn about the freezing habitats...,188.00,218.00,8.00,None,None,9-12,2,9781448878666,"Illustrations, color; Illustrations, black and...",None,2020-01-15 10:08:25,1448878667,9.781449e+12,en,2012-08-15,7.0,4.00,1.0,How to Survive in the Arctic and Antarctica,/How-Survive-Arctic-Antarctica-Louise-Spilsbur...,259.00
48,"[57, 58]",391619,"[2649, 1566, 1719, 1852, 1863]",Humanity's first reusable spacecraft and the m...,152.00,229.00,36.07,None,None,None,2,9780803235342,None,None,2020-01-15 10:08:38,803235348,9.780803e+12,en,2013-12-01,21.0,3.79,96.0,Wheels Stop : The Tragedies and Triumphs of th...,/Wheels-Stop-Rick-Houston/9780803235342,807.39
49,[59],246529,"[1113, 1278]",None,170.00,245.00,15.00,None,None,None,1,9781910602829,None,None,2020-01-15 10:08:43,1910602825,9.781911e+12,en,2016-05-01,22.0,4.00,2.0,Law National Admissions Test (LNAT): Mock Tests,/Law-National-Admissions-Test-LNAT-Mock-Tests-...,349.00

In [31]:
books_staging_df.describe().toPandas().head()

,summary,authors,bestsellers-rank,categories,description,dimension-x,dimension-y,dimension-z,edition,edition-statement,for-ages,format,id,illustrations-note,imprint,isbn10,isbn13,lang,publication-place,rating-avg,rating-count,title,url,weight
0,count,1153986,461288,1153986,1042082,1101652,1051356,1101652,123180,306720,55344,1147715,1153986,394403,228849,1153986,1138650,1078206,737199,486376,486376,1153986,1153986,1059685
1,mean,None,1073662.3132837743,None,1014.1333333333333,163.5892014538665,232.09219199780216,25.5515790013423,None,1648.2755432269996,None,2.0372931410631616,9.781778054683115E12,208.5388974983396,9543261.0,1.4448580669936057E11,9.781784246509844E12,None,337.11218680437713,3.9514950162016254,5177.365287349705,Infinity,None,475.52386219496674
2,stddev,None,842385.808938867,None,975.7049368582306,36.65227604035362,39.53291989305113,50.42905419090038,None,2366.4170096067755,None,3.315326294695639,1.7700559289798207E9,594.1026705181978,NaN,1.1726851144641418E12,1.7738776960178776E9,None,796.9126703460335,0.622674740999877,76965.97854149972,NaN,None,716.884990113177
3,min,"[1, 2]","1,000,130","[10, 103, 2902, 2954]",! THIS BOOK IS INCLUDED IN ITALIAN CUISINE COO...,0.25,1.0,0.1,Abridged,#5 of Series ed.,0-10,1,9780000005199,"""",12...,000017758X,9780000005199,ab,1,1.0,1,! : New Soups dieting,/-1044-1072-1088-1100-1103-1053-1077-1089-1090...,15.0
4,max,[],999997,[],����★☆ What Is Stopping You From Making Money ...,3962.0,2000.0,2000.0,Variorum,überarbeitete Neuauflage,9-12,Wallchart\n |,9798389450189,über 80 Abb.,united p. c.,9999991319,9798389450189,zxx,7410,5.0,6473716,ï¿½tudes Et Lectures Sur l'Astronomie. Tome 4,/zzSongs-Verse-Dahl-Roald/9780141356136,82522.0

Checking the number of books in the dataset:

In [32]:
books_staging_df.count()

1153986

Checking the number of books in the dataset *removing duplicates*:

In [33]:
books_staging_df.dropDuplicates().count()

1153986

**Assessment:**

The Books table has a many-to-many relationship with the entities `authors` and `categories`. In the dataset, these relationships is represented through lists of IDs (e.g. "[235, 3386, 736, 763]"). Because of that, we will create two aditional tables to serve as many-to-many bridges between Books-Author and Books-Category.

We can see also that there are no duplicated rows in the Books file.

### *2.6. Amazon Reviews*

In [35]:
amazon_staging_df.printSchema()

root
 |-- marketplace: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- review_id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- product_parent: string (nullable = true)
 |-- product_title: string (nullable = true)
 |-- star_rating: integer (nullable = true)
 |-- helpful_votes: integer (nullable = true)
 |-- total_votes: integer (nullable = true)
 |-- vine: string (nullable = true)
 |-- verified_purchase: string (nullable = true)
 |-- review_headline: string (nullable = true)
 |-- review_body: string (nullable = true)
 |-- review_date: date (nullable = true)
 |-- year: integer (nullable = true)

In [36]:
amazon_staging_df.limit(20).toPandas().head(20)

,marketplace,customer_id,review_id,product_id,product_parent,product_title,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body,review_date,year
0,US,15444933,R1WWG70WK9VUCH,1848192576,835940987,Standing Qigong for Health and Martial Arts - ...,5,9,10,N,Y,Informative AND interesting!,"After attending a few Qigong classes, I wanted...",2015-05-02,2015
1,US,20595117,R1EQ3POS0RIOD5,145162445X,574044348,A Universe from Nothing: Why There Is Somethin...,4,4,7,N,N,Between 'Nothing' and 'Nothing' somehow we are...,Krauss traces the remarkable transformation in...,2012-06-29,2012
2,US,52925878,R10SRJA4VVGUBD,055341805X,846590203,Hyacinth Girls: A Novel,4,0,0,Y,N,Mysteries upon mysteries,"Rebecca, a dental hygienist, receives a call a...",2015-05-02,2015
3,US,40062567,RD3268X41GM7U,0425263908,119148606,Bared to You,5,1,1,N,N,"""RAW, STEAMY, HYPNOTIC!""","\\""BARED TO YOU\\"" is a sizzling, red-hot pass...",2012-06-29,2012
4,US,47221489,R3KGQL5X5BSJE1,1416556141,987400385,Healer: A Novel,5,0,0,N,Y,Well written story,Good characters and plot line. I spent a pleas...,2015-05-02,2015
5,US,20709973,R3IY9A2Z7N2R49,1455523003,181218559,The Missionary Position: Mother Teresa in Theo...,4,5,7,N,Y,"Eye opening, yet somehow not the whole story...",This book was fascinating. It started with the...,2012-06-29,2012
6,US,18052694,R12PGYPH9B9UVJ,0990388697,840404589,"I'm Tired of Being Ordinary, Are You?",4,1,1,N,Y,JOY,A personal world view by an original and creat...,2015-05-02,2015
7,US,48279565,R2CA9LLJBEORNZ,0345803485,600633062,Fifty Shades of Grey: Book One of the Fifty Sh...,1,7,7,N,N,This book is Twilight with worse characters,I bought this book because everyone was talkin...,2012-06-29,2012
8,US,14297627,R2C8BZMS1JRZ04,1469245167,466321651,The Thrill of Victory,4,0,0,N,Y,Four Stars,Sandra Brown is always a great read.,2015-05-02,2015
9,US,37340439,R2F8UI9NNP6S33,0345803485,600633062,Fifty Shades of Grey: Book One of the Fifty Sh...,5,0,9,N,N,Fifty shades of grey,Loved this book! People kept telling me to rea...,2012-06-29,2012
10,US,35122979,R18L06ZV927ZS0,0743477111,43217624,Romeo and Juliet (Folger Shakespeare Library),4,0,0,N,Y,"Good text, but edition is too cheap","The text and comments are really good, but the...",2015-05-02,2015
11,US,11213632,R32NFRKUPJ3E4J,1609611543,657488375,"Wheat Belly: Lose the Wheat, Lose the Weight, ...",5,1,1,N,Y,Wheat belly,This is an excellent book that finally explain...,2012-06-29,2012
12,US,15816241,R1ZQ0M1HIMV8T9,0563551933,412573914,Dangerous Desserts: 200 Tried-and-tested Recip...,5,0,0,N,Y,Five Stars,Book in great condition.,2015-05-02,2015
13,US,36748944,RKEHECW1IR9DT,0061777269,84797790,Consciousness Beyond Life: The Science of the ...,5,0,0,N,N,More evidence of cosmic spirit from a cardiolo...,Consciousness Beyond Life: The science of the ...,2012-06-29,2012
14,US,38261190,R3HKUZRLPR36SW,0316769487,862964341,The Catcher in the Rye,1,1,6,N,Y,"Some people rave about this book, but it is ha...",This book seems to be one you love or hate. In...,2015-05-02,2015
15,US,44704475,R36X05VUTXCEJQ,0307730697,62706984,Fearless: The Undaunted Courage and Ultimate S...,4,0,0,N,Y,American courage,For those who think life is hard and they can'...,2012-06-29,2012
16,US,38351306,R257VQLC12S8IJ,0448439158,27871958,Best-Ever Big Sister,5,0,0,N,Y,My 1. 5-2yr old loves lifting the flaps and ...,My 1.5-2yr old loves lifting the flaps and the...,2015-05-02,2015
17,US,49320969,R1DA0O932TXFV7,0375842209,47504452,The Book Thief,5,1,1,N,N,"Many Years Later, Its Still My Favourite Book",This is a book that is special from start to f...,2012-06-29,2012
18,US,21239776,RAF45VHW4W7HU,1402773536,615203301,Large Print Sudoku,5,1,1,N,Y,Five Stars,like the big print and the different levels,2015-05-02,2015
19,US,39150739,R1YBB6HXVCZ8AR,0307592731,576844294,Wild: From Lost to Found on the Pacific Crest ...,5,1,1,N,N,A True Page-Turner!,I absolutely loved this book and couldn't put ...,2012-06-29,2012

Checking the number of reviews in the dataset:

In [37]:
amazon_staging_df.count()

20726160

Checking the number of reviews in the dataset *removing duplicates*:

In [38]:
amazon_staging_df.dropDuplicates().count()

19887359

Checking for reviews in invalid (future) dates:

In [39]:
invalid_reviews = amazon_staging_df.filter(f.col("review_date") > f.unix_timestamp(timestamp=None,format='yyyy-MM-dd HH:mm:ss').cast('timestamp'))

invalid_reviews.count()

0

**Assessment:**

* This dataset **has duplicated rows** that will have to be eliminated in the ETL. 

* There are no rows with `review_date` greater than the current timestamp.

# Step 3: Define the Data Model

The Data Lake built by this project is meant to be used mainly for analytic queries (see section *1.2 Use Cases*). Therefore, the schema chosen for the data model was the **snowflake schema**. 

The fact table was defined to be the table containing the Amazon reviews. The dimension tables defined for the schema are the **dates** when the reviews were written and the **books** metadata, which in turn has its own related tables: **authors**, **categories**, **formats** and **publication places**.

Also, since the books table has a many-to-many relationship with the entities authors and categories, two aditional tables were defined to serve as bridges between them: **books-authors** and **books-categories**.

After exploring the datasets, the resulting Conceptual Data Model created was this:

![Data Model](images/data_model.png)

# Step 4: Run Pipelines to Model the Data

## 4.1 Create the data model

In this step, the data will be cleaned and loaded into the tables, creating the data model defined in the previous section.

### *4.1.1. Authors Table*

In [40]:
# Registering the DataFrame as a SQL temporary view
authors_staging_df.createOrReplaceTempView("authors_staging_table")

# Loading the table
authors_table = spark.sql(
        """
        SELECT CAST(author_id AS int) AS author_id,
               author_name
        FROM authors_staging_table
        WHERE author_name IS NOT NULL
        """)

# Checking results
authors_table.sort("author_id").limit(10).toPandas().head(10)

   author_id        author_name
0          1       John Douglas
1          2      Mark Olshaker
2          3      Cecelia Mecca
3          4   Ana Maria Spagna
4          5  Mark Vanhoenacker
5          6           Jen Gale
6          7      Giles Chapman
7          8          Sam Nigro
8          9      J. D. Swanson
9         10     Brian Cosgrove

### *4.1.2. Categories Table*

In [41]:
# Registering the DataFrame as a SQL temporary view
categories_staging_df.createOrReplaceTempView("categories_staging_table")

# Loading the table
categories_table = categories_staging_df

# Checking results
categories_table.sort("category_id").limit(10).toPandas().head(10)

   category_id      category_name
0            2  Art & Photography
1            3          Art Books
2            4         Art Theory
3            5     Art Resoration
4            6            Forgery
5            7        Art Finance
6            8        Art History
7            9             Styles
8           10     Indigenous Art
9           11          Naive Art

### *4.1.3. Formats Table*

In [42]:
# Register the DataFrame as a SQL temporary view
formats_staging_df.createOrReplaceTempView("formats_staging_table")

# Loading the table
formats_table = formats_staging_df

# Checking results
formats_table.sort("format_id").limit(10).toPandas().head(10)

   format_id   format_name
0          1     Paperback
1          2      Hardback
2          3        Spiral
3          4      Calendar
4          5      Pamphlet
5          6          Game
6          7            CD
7          8      Notebook
8          9  Downloadable
9         10         Cards

### *4.1.4. Publication Places Table*

In [43]:
# Registering the DataFrame as a SQL temporary view
places_staging_df.createOrReplaceTempView("places_staging_table")

# Loading the table
places_table = spark.sql(
        """
        SELECT place_id,
               CASE WHEN place_name rlike '^[0-9]*$' THEN null
                    WHEN place_name rlike '^[0-9]+ Paris, France$' THEN 'Paris, France'
                    WHEN place_name rlike '^[0-9]+[,] United States$' THEN 'United States'
                    WHEN place_name rlike '[\)], United Kingdom' THEN 'United Kingdom'                                       
                    ELSE place_name 
                    END AS place_name
        FROM places_staging_table
        WHERE place_name is not null AND not place_name rlike '^[0-9]*$'
        """)

# Checking results
places_table.sort("place_id").limit(10).toPandas().head(10)

   place_id                    place_name
0         1        London, United Kingdom
1         2    North Adams, United States
2         3      Wisconsin, United States
3         4  Rolindale, MA, United States
4         5      Ramsbury, United Kingdom
5         6      Somerset, United Kingdom
6         7   New York, NY, United States
7         8   Rockport, ME, United States
8         9       New York, United States
9        10                 United States

### *4.1.5. Books Table*

In [44]:
# Registering the DataFrame as a SQL temporary view
books_staging_df.createOrReplaceTempView("books_staging_table")

# Loading the table
books_table = spark.sql(
        """
        SELECT id as book_id,
               isbn10,
               isbn13,
               title,
               authors as authors_list,
               categories as categories_list,               
               edition,
               lang,
               format as format_id,
               `publication-place` as publication_place_id,
               `publication-date` as publication_date,
               description
        FROM books_staging_table
        """)

# Checking results
books_table.limit(50).toPandas().head(50)

,book_id,isbn10,isbn13,title,authors_list,categories_list,edition,lang,format_id,publication_place_id,publication_date,description
0,9781787465145,1787465144,9.781787e+12,Journey Into Darkness,"[1, 2]","[235, 3386, 736, 763]",None,en,1,1.0,2019-10-17,________________________________
1,9781946510402,1946510408,9.781947e+12,The Mercenary : Order of the Broken Blade,[3],"[360, 2632]",None,en,1,NaN,2019-09-17,A fake marriage is the last thing he wants . ....
2,9781612124568,1612124569,9.781612e+12,100 Skills You'll Need for the End of the Worl...,[4],"[1703, 2771, 2818, 3097]",None,en,1,2.0,2015-05-05,"Once the dust has settled, you'll need to know..."
3,9781786487155,1786487152,9.781786e+12,How to Land a Plane,[5],"[819, 3364, 1853, 2977]",None,en,2,1.0,2017-09-21,The Daily Mail and the Spectator Book of the Y...
4,9781472969125,147296912X,9.781473e+12,The Sustainable(ish) Living Guide : Everything...,[6],"[1694, 1703, 2818]",None,en,1,1.0,2020-03-10,"Easy, do-able, down to earth ideas and suggest..."
5,9780760363997,760363994,9.780760e+12,Mini : 60 Years,[7],"[1843, 2967, 2969]",None,en,2,3.0,2019-05-09,Mini celebrates 60 amazing years of this iconi...
6,9781594394591,1594394598,9.781594e+12,Karate Science : Dynamic Movement,"[8, 9]","[1520, 2771, 3019, 3074, 3078]",None,en,1,4.0,2017-05-01,"Dynamics, motion, and sensation are karate's c..."
7,9781847975096,1847975097,9.781848e+12,Microlight Pilot's Handbook,[10],"[1853, 2977, 3023]",Revised,en,1,5.0,2013-11-01,Brian Cosgrove's classic introduction to the w...
8,9781594396816,1594396817,9.781594e+12,Krav Maga Combatives : Maximum Effect,"[11, 12]","[649, 2771, 3019, 3074]",None,en,1,4.0,2019-08-07,BECAUSE NOT ALL KRAV MAGA IS THE SAME(R) This ...
9,9781563924699,9781563924699,NaN,"Dodge Caravan, Plymouth Voyager & Chrysler Tow...","[13, 14]","[1725, 1844, 2969, 2973]",Revised,en,1,6.0,2002-12-02,"Haynes offers the best coverage for cars, truc..."
10,9780760336953,760336954,9.780760e+12,How to Design Cars Like a Pro,"[15, 16]","[1711, 1843, 2969]",New edition,en,1,3.0,2010-11-06,This comprehensive new edition of How to Desig...
11,9781632206343,163220634X,9.781632e+12,52 Unique Techniques for Stocking Food for Pre...,[17],"[1379, 1701, 1703, 1738, 2818, 2884, 3097]",None,en,1,7.0,2015-08-04,Are you and your family self-reliant? Will you...
12,9781781316283,1781316287,9.781781e+12,Land Rover Defender,[18],"[1844, 2969, 3058]",None,en,2,1.0,2016-10-01,Known around the globe as an icon of British e...
13,9780740779336,740779338,9.780741e+12,Sneaky Green Uses for Everyday Things : How to...,[19],"[1691, 1694, 1703, 2818]",None,en,1,NaN,2009-03-17,Ingenuity has met its match and his name is Cy...
14,9780856961250,856961256,9.780857e+12,Norton Commando (68 - 77),[20],"[1725, 1844, 2969, 2971, 2973]",None,en,1,6.0,1990-06-29,Haynes disassembles every subject vehicle and ...
15,9780143111771,143111779,9.780143e+12,How Cycling Can Save the World,[21],"[2818, 2968, 3063]",None,en,1,NaN,2017-04-04,Peter Walker--reporter at the Guardian and cur...
16,9780071464055,71464050,9.780071e+12,The Boatbuilder's Apprentice,[22],"[1849, 2975, 3069]",None,en,2,8.0,2007-01-05,"Learn the Ins and Outs of Building Lapstrake, ..."
17,9781912023646,1912023644,9.781912e+12,Thinking on My Feet : The small joy of putting...,[23],"[2813, 2818, 2820, 2987, 3091, 3092, 3100]",None,en,2,1.0,2018-11-13,** SHORTLISTED FOR THE WAINWRIGHT PRIZE**
18,9781557885586,1557885583,9.781558e+12,Ford Windsor Small-block Performance,[24],"[1843, 2802, 2969, 2973]",Revised,en,1,9.0,2010-10-05,This completely revised and updated edition of...
19,9781440247286,1440247285,9.781440e+12,365 Essential Survival Skills : Knowledge that...,[25],"[2771, 3097]",None,en,1,10.0,2018-08-27,Learn. Practice. Prepare. Survive.
20,9780571248117,057124811X,9.780571e+12,MINI: The True and Secret History of the Makin...,[26],"[1719, 1843, 2969]",None,en,1,1.0,2010-07-01,"In 1959, the first Mini was produced on an ass..."
21,9781977954749,197795474X,9.781978e+12,You............Raise Chickens? : A How to Guid...,[27],"[1703, 2818]",None,en,1,NaN,2017-10-03,This book is a very basic guide to get you sta...
22,9781898660354,1898660352,9.781899e+12,Logbook for Cruising Under Sail,[28],"[1850, 3071, 3385]",None,en,1,11.0,1997-07-14,"A modern sailor's logbook, designed to last a ..."
23,9781594396557,1594396558,9.781594e+12,"The Sambo Encyclopedia : Comprehensive Throws,...",[29],"[2771, 3019, 3074, 3076]",None,en,1,4.0,2019-11-07,A fast and powerful style that excels in throw...
24,9780856965210,9780856965210,NaN,Honda CB750 Sohc Four (69 - 79),[20],"[376, 1725, 1844, 2971, 2973]",Revised,en,1,6.0,1993-06-29,"""Haynes disassembles every subject vehicle and..."
25,9780060735203,60735201,9.780061e+12,Staying Safe : The Complete Guide to Protectin...,[30],"[376, 378, 888, 2771]",None,en,1,7.0,2004-07-20,"In Staying Safe, Juval Aviv, a counterterroris..."
26,9780957311916,957311915,9.780957e+12,Working Sail : A Life in Wooden Boats,[31],"[1848, 3069]",None,en,2,12.0,2012-10-26,None
27,9780425211946,425211940,9.780425e+12,"What's Toxic, What's Not : Everything You Need...","[32, 33]","[2770, 2771, 2772]",None,en,1,7.0,2006-12-05,Arsenic. Mercury. Pesticides. Dioxin. Toxic ga...
28,9780521559263,052155926X,9.780522e+12,Concepts in Submarine Design,"[34, 35]","[1755, 1759, 1762, 1849, 2975]",None,en,1,13.0,1995-10-27,This book explores the many engineering and ar...
29,9780062407535,62407538,9.780062e+12,The Right to Try,[36],"[840, 862, 1289, 1298, 1303, 2771, 2772]",None,en,1,9.0,2017-12-12,Why should you need the government's permissio...
30,9780435048150,435048155,9.780435e+12,Level 1 Principles of Light Vehicle Operations...,[37],[1844],None,en,1,14.0,2011-10-11,Written in line with the revised specification...
31,9781493023769,9781493023769,NaN,The Official U.S. Army Survival Handbook,"[38, 39]","[376, 378, 2771, 3097]",Revised,en,1,15.0,2017-04-01,"Whether in a temperate, tropical, arctic, or s..."
32,9781472918130,1472918134,9.781473e+12,The Complete Ocean Skipper : Deep-water Voyagi...,[40],"[1850, 2975, 3069, 3071]",None,en,2,1.0,2016-04-05,Following on from his bestselling The Complete...
33,9781594396007,1594396000,9.781594e+12,Winning Fights : 12 Proven Principles for Winn...,[41],"[2771, 3019, 3020, 3074]",None,en,1,4.0,2018-06-01,"Winning Fights focuses on 2,500 years of prove..."
34,9780080972398,008097239X,9.780081e+12,Ship Construction,"[42, 43]","[1725, 1755, 1848, 1867, 2975]",None,en,1,16.0,2012-07-10,"Ship Construction, Seventh Edition, offers gui..."
35,9781910931387,1910931381,9.781911e+12,"70s Dinner Party : The Good, the Bad and the D...",[44],"[2659, 2663, 2858, 2859, 2868, 2878, 2978, 2915]",None,en,2,1.0,2018-04-01,"Spaghetti in aspic, anyone? Revel in astonishi..."
36,9781784521554,1784521558,9.781785e+12,Confidence for Life : 9 Secrets for Setting Yo...,[45],"[214, 231, 233, 2777, 2782, 2804, 2813, 2818, ...",None,en,1,17.0,2018-11-27,Escape Your Invisible Prison. If you're readin...
37,9780470518793,470518790,9.780471e+12,Nautical Calculation Companion,[46],"[1477, 1850, 3071]",None,en,3,18.0,2008-03-07,"A handy, splash-proof, on-the-water reference ..."
38,9780307888259,307888258,9.780308e+12,365 Manners Kids Should Know,[47],"[2797, 2800, 2801, 2915]",None,en,1,9.0,2011-11-15,If you've ever cringed at the sight of your te...
39,9781530784530,1530784530,9.781531e+12,Practical Angora Goat Raising : Raising Goats ...,"[48, 49]","[1703, 2818]",None,en,1,NaN,2016-03-28,This special re-print edition of Charles Baile...
40,9788879117333,8879117335,9.788879e+12,Ferrari: All The Cars : New enlarged Edition,[50],"[1843, 2969, 3058]","Enlarged, New edition",en,2,19.0,2019-07-02,"The first and only ""virtual gallery"" with all ..."
41,9780717149773,717149773,9.780717e+12,An Introduction to Irish Family Law,[51],"[814, 3359, 1223]",Revised,en,1,20.0,2011-08-26,An updated edition of this well-established te...
42,9781438004082,1438004087,9.781438e+12,Staying Alive : How to Act Fast and Survive De...,[52],"[649, 2771, 3097]",None,en,1,10.0,2014-05-15,The Boston Marathon; Sandy Hook Elementary Sch...
43,9781557885456,1557885451,9.781558e+12,Custom Auto Wiring & Electrical,[53],"[1784, 1843, 2969, 2973]",None,en,1,9.0,2009-04-07,This indispensable guide to high performance a...
44,9781608761784,1608761789,9.781609e+12,Health Issues in Chinese Contexts : Volume 4,[54],"[1291, 1298, 2771, 2772]",None,en,2,9.0,2010-05-21,This is the fourth of sequential collections o...
45,9780856963391,856963399,9.780857e+12,"Moto Guzzi 750, 850 & 1000 V-Twins (74 - 78)",[20],"[1844, 2971, 2973]",None,en,1,6.0,1995-06-29,"""Haynes disassembles every subject vehicle and..."
46,9781910374337,1910374334,9.781910e+12,An Introduction to Business Law,[55],[1159],Revised,None,1,20.0,2015-11-06,None
47,9781448878666,1448878667,9.781449e+12,How to Survive in the Arctic and Antarctica,[56],"[2771, 2521, 2543, 2577]",None,en,2,7.0,2012-08-15,Readers will learn about the freezing habitats...
48,9780803235342,803235348,9.780803e+12,Wheels Stop : The Tragedies and Triumphs of th...,"[57, 58]","[2649, 1566, 1719, 1852, 1863]",None,en,2,21.0,2013-12-01,Humanity's first reusable spacecraft and the m...
49,9781910602829,1910602825,9.781911e+12,Law National Admissions Test (LNAT): Mock Tests,[59],"[1113, 1278]",None,en,1,22.0,2016-05-01,None

### *4.1.6. Book-Categories Relationship Table*

The Books table has a many-to-many relationship with the Categories Table. In the original dataset, these relationships is represented through lists of IDs. Because of that, we will we will parse these lists in order to create an aditional table to serve as a many-to-many bridge between Books and Categories.

In [45]:
# Defining the parsing function
def convert_string_to_list(s):
    return s.strip('][').split(', ')

convert_string_to_list_udf = f.udf(lambda s: convert_string_to_list(s), t.ArrayType(t.StringType()))

# Loading the table
books_categories_table = books_staging_df.select(
    f.col("id").alias("book_id"), 
    f.explode(convert_string_to_list_udf("categories")).alias("category_id")
)

# Checking results
books_categories_table.limit(20).toPandas().head(20)

          book_id category_id
0   9781787465145         235
1   9781787465145        3386
2   9781787465145         736
3   9781787465145         763
4   9781946510402         360
5   9781946510402        2632
6   9781612124568        1703
7   9781612124568        2771
8   9781612124568        2818
9   9781612124568        3097
10  9781786487155         819
11  9781786487155        3364
12  9781786487155        1853
13  9781786487155        2977
14  9781472969125        1694
15  9781472969125        1703
16  9781472969125        2818
17  9780760363997        1843
18  9780760363997        2967
19  9780760363997        2969

### *4.1.7. Book-Authors Relationship Table*

The Books table has a many-to-many relationship with the Authors Table. In the original dataset, these relationships is represented through lists of IDs. Because of that, we will parse these lists in order to create an aditional table to serve as a many-to-many bridge between Books and Authors.

In [46]:
# Loading the table
books_authors_table = books_staging_df.select(
    f.col("id").alias("book_id"), 
    f.explode(convert_string_to_list_udf("authors")).alias("author_id")
)

# Checking results
books_authors_table.limit(20).toPandas().head(20)

          book_id author_id
0   9781787465145         1
1   9781787465145         2
2   9781946510402         3
3   9781612124568         4
4   9781786487155         5
5   9781472969125         6
6   9780760363997         7
7   9781594394591         8
8   9781594394591         9
9   9781847975096        10
10  9781594396816        11
11  9781594396816        12
12  9781563924699        13
13  9781563924699        14
14  9780760336953        15
15  9780760336953        16
16  9781632206343        17
17  9781781316283        18
18  9780740779336        19
19  9780856961250        20

### *4.1.8. Amazon Reviews Table*

For books in Amazon, the `product_id` corresponds to the books's ISBN-10. Therefore, we are joining the Amazon Reviews data and the Books Depository metadata through the ISBN-10.

We are going to use `INNER JOIN` to match books and reviews. Therefore, **reviews that are NOT associated with any row in the Books Table will not be loaded into the Data Lake.**

In [47]:
# Registering the Amazon Reviews Staging DataFrame as a SQL temporary view
amazon_staging_df.createOrReplaceTempView("amazon_reviews_staging_table")

# Registering the Books Table as a SQL temporary view
books_table.createOrReplaceTempView("books_table")

# Removing the duplicated rows
amazon_staging_df = amazon_staging_df.dropDuplicates()

# Loading Amazon Reviews Table, by joining the Amazon Reviews Staging DataFrame and the Books Table.
# For books, the product_id is the books's ISBN
amazon_reviews_table = spark.sql(
    """
    SELECT a.review_id, 
           b.book_id, 
           a.star_rating, 
           a.helpful_votes, 
           a.total_votes, 
           a.verified_purchase, 
           a.customer_id,
           a.review_date, 
           year(a.review_date) as review_year, 
           a.review_headline, 
           a.review_body
    FROM amazon_reviews_staging_table a
         INNER JOIN books_table b ON a.product_id = b.isbn10
    """)

# Checking results
amazon_reviews_table.limit(20).toPandas().head(20)

,review_id,book_id,star_rating,helpful_votes,total_votes,verified_purchase,customer_id,review_date,review_year,review_headline,review_body
0,R1BFKJAX7PLZY2,9780060878078,4,6,9,N,14810040,2008-05-29,2008,Informative but sadly negative,This book has many useful facts and anecdotes ...
1,R24LW7WLO6UF6W,9780060878078,5,22,24,N,40072440,2007-11-23,2007,Interesting & fun to read,Very well-written and easy to read. The autho...
2,RHDONITYOSLD7,9780060878078,1,11,18,N,17492715,2008-05-20,2008,Popes through the eyes of dissent,Fr.Mcbrien is a celebrated academic. His Theo...
3,R2POBJH7MJ3KHL,9780060878078,3,7,10,N,27331930,2009-04-08,2009,Solid Sketches of the Popes But Know What You ...,Richard McBrien offers thumbnail sketches of t...
4,RKAKST5M35YVG,9780060878078,5,5,5,N,34247947,2013-02-28,2013,A great overview of a fascinating institution,"I want to begin this review, which I am writin..."
5,R2W8J5L0K2BYXJ,9780060878078,1,13,27,Y,18058313,2007-11-15,2007,Expected History and Got A Movie Review,I would give this book no stars if possible. ...
6,R202WY3U0RCYAN,9780060878078,4,0,0,Y,2762668,2015-03-01,2015,Four Stars,nulla problema
7,R1FG7OWVG4PJ9A,9780060878078,1,0,0,N,52456601,2013-12-28,2013,"""The number of fools is infinite""","&#34;The perverse are hard to be corrected, an..."
8,R2R2A3TPJCBSEM,9780060878078,5,2,2,Y,15813941,2012-12-02,2012,An incredible history of an ancient institution,The papacy has been around since before the Ro...
9,R8PICYUMJUY10,9780060878078,5,3,13,N,11229368,2006-02-20,2006,Pretty Good,This is a fantastic book. McBrien does an exc...
10,RE7BENULOQ8I,9780060878078,2,2,3,Y,40347942,2015-06-19,2015,So so and nothing more.,I have to mostly agree with the criticism leve...
11,R25MAKWV6PNZ50,9780060878078,4,11,11,N,52878657,2008-12-29,2008,A fascinating resource,Few institutions endure for two thousand years...
12,R3EBAOCYSG0ETQ,9780060878078,4,0,0,Y,48435723,2013-07-21,2013,I was intrigued by the lives of the popes.,I had studied the lives of American Presidents...
13,R3SBOS4DBI8VMW,9780071406000,5,10,11,Y,52236461,2003-05-19,2003,Good overview of the possibilities for those w...,Bob Bly has created a useful book which delves...
14,R2IEBRRRHLHPUQ,9780071406000,5,0,2,Y,37916136,2012-01-14,2012,EXCELLENT SELLER,One of the best yet especially in product and ...
15,R1I9DY0SYMQ4TA,9780071406000,5,12,12,N,25453183,2006-02-27,2006,A great place to begin,I spent a lot of my young life just bouncing a...
16,RQCG4EW1SY94D,9780071406000,4,1,1,N,52044054,2010-08-21,2010,Great insight for writer careers,This book gave great insight into writing care...
17,R19NQJZBWS5W9K,9780091864958,3,5,5,N,49775107,2005-09-04,2005,Frustrating but it may suit your learning style,I have struggled with this book for a long tim...
18,R1MBRWY86DD8GC,9780126930184,5,2,2,Y,19509353,2012-11-04,2012,Identifying Marine Phytoplankton,Beneficial to both fresh and marine water taxo...
19,R38R681R87HU4C,9780126930184,4,0,0,Y,2419119,2014-08-26,2014,Four Stars,An excellent all round book.

### *4.1.9. Date Table*

In [48]:
# Selecting the review dates from the Amazon Reviews Table, dropping the duplicated values
date_df = amazon_reviews_table.select("review_date").dropDuplicates()

# Loading the table
date_table = date_df.select(
    "review_date",
    f.year("review_date").alias('year'), 
    f.month("review_date").alias('month'), 
    f.dayofmonth("review_date").alias('day'),
    f.weekofyear("review_date").alias('week'),
    f.dayofweek("review_date").alias('weekday')
)

# Checking results
date_table.limit(10).toPandas().head(10)

  review_date  year  month  day  week  weekday
0  2007-11-23  2007     11   23    47        6
1  2007-11-15  2007     11   15    46        5
2  2013-03-26  2013      3   26    13        3
3  2015-03-09  2015      3    9    11        2
4  2015-05-19  2015      5   19    21        3
5  2012-04-17  2012      4   17    16        3
6  2002-12-25  2002     12   25    52        4
7  2010-08-11  2010      8   11    32        4
8  2014-11-12  2014     11   12    46        4
9  2014-09-26  2014      9   26    39        6

## 4.2. Writing the tables into the Data Lake as parquet files

In [67]:
authors_table \
    .write \
    .mode("overwrite") \
    .parquet(os.path.join(data_lake_path, "authors.parquet"))

In [68]:
categories_table \
    .write \
    .mode("overwrite") \
    .parquet(os.path.join(data_lake_path, "categories.parquet"))

In [69]:
formats_table \
    .write \
    .mode("overwrite") \
    .parquet(os.path.join(data_lake_path, "formats.parquet"))

In [70]:
places_table \
    .write \
    .mode("overwrite") \
    .parquet(os.path.join(data_lake_path, "places.parquet"))

In [71]:
books_table \
    .write \
    .mode("overwrite") \
    .parquet(os.path.join(data_lake_path, "books.parquet"))

In [72]:
books_categories_table \
    .write \
    .mode("overwrite") \
    .parquet(os.path.join(data_lake_path, "books_categories.parquet"))

In [75]:
books_authors_table \
    .write \
    .mode("overwrite") \
    .parquet(os.path.join(data_lake_path, "books_authors.parquet"))

In [77]:
amazon_reviews_table \
    .repartition("review_year") \
    .write \
    .partitionBy("review_year") \
    .mode("overwrite") \
    .parquet(os.path.join(data_lake_path, "amazon_reviews.parquet"))

In [80]:
date_table \
    .repartition("year") \
    .write \
    .partitionBy("year") \
    .mode("overwrite") \
    .parquet(os.path.join(data_lake_path, "dates.parquet"))

## 4.3 Data Quality Checks

### *4.3.1. Checking that none of the tables is empty*

In [49]:
authors_table.count()

703665

In [50]:
categories_table.count()

2767

In [51]:
formats_table.count()

59

In [52]:
places_table.count()

7407

In [53]:
books_table.count()

1153986

In [54]:
books_categories_table.count()

4074354

In [55]:
books_authors_table.count()

1600548

In [56]:
date_table.count()

6710

In [57]:
amazon_reviews_table.count()

1077713

### *4.3.2. Checking for unwanted NULL columns*

In [58]:
authors_table.filter("author_id is null OR author_name is null").count()

0

In [59]:
categories_table.filter("category_id is null or category_name is null").count()

0

In [60]:
formats_table.filter("format_id is null or format_name is null").count()

0

In [61]:
places_table.filter("place_id is null or place_name is null").count()

0

In [62]:
books_table.filter("book_id is null or isbn10 is null or title is null").count()

0

In [63]:
books_categories_table.filter("book_id is null or category_id is null").count()

0

In [64]:
books_authors_table.filter("book_id is null or author_id is null").count()

0

In [65]:
amazon_reviews_table.filter("review_id is null or book_id is null or review_date is null").count()

0

In [66]:
date_table.filter("review_date is null").count()

0

Closing Spark Session:

In [81]:
spark.stop()

## 4.4 Data dictionary

In [4]:
%%html
<style>
table {float:left}
</style>

Table: **AUTHORS** \
Description: book authors
 
| Column | Type | Description |
| :----- | :--: | :----------- |
| author_id | int | Author's unique ID |
| author_name | string | Author's name |

Table: **CATEGORIES** \
Description: book categories

| Column | Type | Description |
| :----- | :--: | :---------- |
| category_id | int | Category unique ID |
| category_name | string | Category name |

Table: **FORMATS** \
Description: book formats

| Column | Type | Description |
| :----- | :--- | :---------- |
| format_id | int | Format unique ID |
| format_name | string | Format name |

Table: **PLACES** \
Description: book publication places

| Column | Type | Description |
| :----- | :--- | :---------- |
| place_id | int | Publication place unique ID |
| place_name | string | Publication place (city, country) |

Table: **BOOKS** \
Description: books

| Column | Type | Description |
| :----- | :--- | :---------- |
| book_id | long | Book's unique ID |
| isbn10 | string | Book's ISBN-10 |
| isbn13 | long | Book's ISBN-13 |
| title | string | Book's title |
| authors_list | string | List of the book's authors IDs, in the format [##, ##, ##, ...] |
| categories_list | string | List of the book's categories IDs, in the format [##, ##, ##, ...] |
| edition | string | Book edition |
| lang | string | Abbreviation of the book's language (e.g. "en" for English) |
| format_id | int | ID of the book's format |
| publication_place_id | int | ID of the book's publication place |
| publication_date | timestamp | Publication date |
| description | string | Book description |

Table: **BOOKS_AUTHORS** \
Description: many-to-many relationship between books and authors

| Column | Type | Description |
| :----- | :--- | :---------- |
| book_id | long | Book ID |
| author_id | int | Author ID |

Table: **BOOKS_CATEGORIES** \
Description: many-to-many relationship between books and categories

| Column | Type | Description |
| :----- | :--- | :---------- |
| book_id | long | Book ID |
| category_id | int | Category ID |

Table: **AMAZON_REVIEWS** \
Description: customer reviews for books on Amazon

| Column | Type | Description |
| :----- | :--- | :---------- |
| review_id | string | Review unique ID |
| book_id | long | Book ID |
| star_rating | int | The 1-5 star rating of the review |
| helpful_votes | int | Number of helpful votes the review received |
| total_votes | int | Number of total votes the review received |
| verified_purchase | string | Identifies if the review is on a verified purchase (Y or N) |
| customer_id | string | Customer ID in Amazon; can be used to aggregate reviews written by a single author |
| review_date | date | Date when the review was written |
| review_year | int | Year when the review was written |
| review_headline | string | Title of the review |
| review_body | string | Review text |

Table: **DATES** \
Description: metadata on review dates

| Column | Type | Description |
| :----- | :--- | :---------- |
| review_date | date | Review date (yyyy-MM-dd) |
| year | int | Year |
| month | int | Month (numeric) |
| day | int | Day of the month (numeric) |
| week | int | Week number of the year (numeric) |
| weekday | int | Day of the week (numeric) |

# Step 5: Complete Project Write Up

The choice to build a data lake in S3 instead of a data warehouse in Redshift is due mainly to reducing storage costs. Since this new dataset is being put together mainly for analytical purposes, there is no need for the cluster to be online 24/7. The analysis can be done by reading the data lake files. Also, the data being in S3, it becomes availabe to a wider range of users, who can rely on schema-on-read to easily read and wrangle the data.

As the datasets are too big to be wrangled locally by pandas, or even by Spark in standalone mode, it has been chosen to run the ETL pipeline in an EMR cluster containing both Spark and Hadoop applications. Also, since both datasets used by this project are static, the data pipeline was implemented in a Python Jupyter Notebook, in order to be run manually in a one-time execution.

Under other scenarios, the problem should be approached differently. For example:
* In a scenario where the data was increased by 100x, it would be recommended to configure an EMR cluster with more nodes, or choose instance types with higher processing capacity for each node.

* In a real case in which new data would become available in a daily basis, I would orchestrate the workflow setting up a DAG in [Apache AirFlow](https://airflow.apache.org/) splitting the logic included in the notebook `BookReviewsDataLake.ipynb` in Python operators and scheduling the DAG to run once a day.

* If the database had to be accessed by 100+ people, I would load the data into Amazon Redshift, since it is an analytical and distributed database optimized for aggregation and read-heavy workloads. By using a distributed database, it is possible to  improve the replications and partitioning of the tables to get faster query results for each user.